@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700&display=swap');
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: normal;
	background-color: white;
}

.video-bg {
	width: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	padding-top: 40px;
	padding-bottom: 80px;
	background-image: url(files/bg-top.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.video-bg video {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.effects {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	/* background-color: rgba(14, 1, 39, 0.8); */
	background-color: rgba(50, 11, 97, 0.8);
}

.video-bg__content {
	z-index: 2;
	color: #ffcc00;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.top {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.heading {
	font-size: 70px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.heading span {
	color: white;
	font-size: 37px;
	text-align: center;
}

.promo .product {
	padding-top: 75px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.promo .product-img {
	width: 290px;
}

.product img {
	box-shadow: 5px 0 20px 30px rgba(193, 172, 201, 0.15);
	background-color: rgba(193, 172, 201, 0.15);
	border-radius: 70px;
}

.specifications {
	/* width: 45%;	 */
	color: rgb(235, 219, 219);
	font-family: 'Roboto', sans-serif;
	padding-top: 35px;
}

.specifications h2 {
	margin-top: 20px;
	margin-bottom: 30px;
	padding-left: 10%;
}

.specifications ul {
	list-style: none;
	padding-left: 5%;
	padding-right: 5%;
}

.specifications ul li {
	color: rgb(235, 219, 219);
	margin-bottom: 25px;
	text-indent: 15px;
}

.specifications span {
	color: #ffcc00;
}

.video-bg__content .btn, .ingredients .btn {
	display: block;
	width: 300px;
	height: 56px;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(75.93deg, #FAD264 44.82%, #FCE558 70.67%);
	box-shadow: 0px 3px 10px rgba(231, 182, 20, 0.2);
	border-radius: 30px;
	color: #000000;
	text-decoration: none;
	font-size: 20px;
	font-weight: 500;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ingredients {
	padding: 30px 20px 40px;	
	background-image: linear-gradient(to right, #e7e6e6ce, #FFFFFF 70%, #e7e6e6ce)
}

.ingredients h2 {
	color: #320B61;
	text-transform: uppercase;
	font-weight: 900;
	text-align: center;
	font-size: 29px;
}

.ingredients .container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.ingredients .product-img {
	display: none;
}

.ingredients .item-group {
	width: 280px;
}

.ingredients h3 {
	background-color: #320B61;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0;
}

.ingredients .ingredient {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
	padding: 10px;
}

.ingredient .img-round {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 160px;
}

.ingredient p {
	text-indent: 15px;
	text-align: justify;
	padding-left: 10px;
	padding-right: 10px;
}

@media (min-width: 768px) {
	.promo .product {
		flex-direction: row;
		justify-content: space-around;
		padding-left: 30px;
		padding-right: 30px;
		width: auto;
	}
	.video-bg__content {
		max-width: 1200px;
	}
	.ingredients {
		padding: 40px 20px 50px;		
	}
	.ingredients .container {
		flex-direction: row;
	}
}

@media (min-width: 1024px) {
	.ingredients .product-img {
		display: block;
	}
}